.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  z-index: 999;
  transition: background-color 0.3s ease;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    // background-color: rgba(33,33,33,.8);
    background-color: rgba(35, 83, 115, 0.191);
    backdrop-filter: blur(15px);
  }
}

.stikyHeader {
  display: flex;
  justify-content: space-between;
}

.pageHeader {
  background-color: rgba(35, 83, 115, 0.9);
}
