.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  z-index: 999;
  transition: background-color 0.3s ease;



  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &:hover{
background-color: var(--accentColor);

  }
}

.stikyHeader {
  display: flex;
  justify-content: space-between;
}

.pageHeader{
  background-color: var(--accentColor);
}