.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  // display: flex;

  z-index: 999;
  transition: background-color 0.3s ease;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

// .headerWrapperMain {
//   position: relative;
// }
.headerWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(15px);
  // opacity: 0;
}

.stikyHeader {
  display: flex;
  justify-content: space-between;
}

.pageHeader {
  background-color: #000000;
  backdrop-filter: blur(30px);
  color: white;
}
