.form {
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  padding: 35px 20px 25px;

  @media screen and (min-width: 768px) {
    width: 420px;

    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   max-width: 1200px;
  //   flex-direction: unset;
  // }
}

//styles for modal window form

.modal {
  border: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & div {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  & button {
    margin-top: 0;
    width: 100%;
  }
  & textarea {
    height: 150px;
  }
  & input,
  textarea {
    display: block;
    padding: 12px 12px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    min-height: 48px;
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: rgba(65, 65, 65, 1);
      font-size: 14px;
      font-weight: 400;
      font-family: inherit;
    }

    & .text-area {
      resize: none;
      height: 100px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
}

.input-thumb {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;

  // @media screen and (min-width: 768px) {
  //   height: 50px;
  //   width: 47%;
  //   margin-bottom: 20px;

  //   &:nth-child(2n) {
  //     margin-left: auto;
  //   }
  // }

  // @media screen and (min-width: 1200px) {
  //   height: 50px;
  //   width: 47%;
  //   margin-bottom: 40px;

  //   &:nth-child(2n) {
  //     margin-left: auto;
  //   }
  // }
}

.input {
  padding: 12px 15px;
  border: 0;
  border-radius: 12px;
  width: 100%;
  border: 1px solid black;
}

.textarea-thumb {
  width: 100%;
  height: 100%;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 300px;
  }
}

.text-area {
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  border: 0;
  border-radius: 12px;
  border: 1px solid black;

  @media screen and (min-width: 768px) {
    height: 300px;
  }
}

.error {
  padding: 5px 10px;
  font-size: 10px;
  color: var(--errorColor);
}

.button {
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  border-radius: 8px;
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 20px 16px 20px;
  margin-top: 40px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: rgba(33, 33, 33, 0.8);

  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1rem;

  &:hover,
  &:focus {
    &::after,
    &::before {
      animation: none;
      background: rgba(33, 33, 33, 0.8);
      box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }
  }
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  transition: all 0.8s ease;
  background: linear-gradient(
    45deg,
    var(--ch-black),
    rgba(33, 33, 33, 0.8),
    rgba(33, 33, 33, 0.8),
    var(--ch-white),
    // var(--night-rider),
    rgba(33, 33, 33, 0.8),
    // var(--ch-black),
    var(--ch-black)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

// .button:after {
//   filter: blur(25px);

//   @media screen and (min-width: 1200px) {
//     filter: blur(50px);
//   }
// }

.buttonWrapper {
  width: 200px;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
