%flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    & div {
      flex-grow: 1;
    }
  }
}

.fixedNav {
  @extend %flex;
}

.staticNav {
  @extend %flex;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  height: 84px;
  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }

  &.visible {
    @extend %flex;
    // color: var(--lightTextColor);
    top: 0;
  }

  &.fixed {
    @extend %flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--buttonAndHeaderAccentColor);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    color: var(--secondaryTextColor);

    @media screen and (min-width: 767px) {
      color: var(--lightTextColor);
      & a,
      & p,
      & span {
        color: var(--lightTextColor);
      }
    }
  }

  // &.hidden {
  //   top: -100%;
  // }
}

.nav_container {
  // position: absolute;

  // top: 0;
  // right: 0;

  width: 450px;

  // padding:46px 40px 50px 50px;

  background-color: var(--primaryBackgroundColor);
  z-index: 10;

  @media screen and (min-width: 768px) {
    // position: static;

    width: initial;

    padding: 0;

    background-color: transparent;
  }
}

.nav_list {
  display: flex;

  flex-direction: column;

  list-style: none;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 15px;
  }

  @media screen and (min-width: 1024px) {
    gap: 35px;
  }
}

.nav_item {
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--navBorderColor);
  }

  @media screen and (min-width: 768px) {
    padding: 38px 0;
    color: #000000;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.nav_link {
  font-size: 15px;
  font-weight: 600;
  line-height: calc(25 / 15);

  color: var(--primaryNavColor);

  transition: color var(--mainDuration) var(--mainTimingFunction);
}

.nav_item:hover .nav_link {
  color: var(--primaryNavColor);
}

.nav_link_main {
  font-size: 15px;
  font-weight: 600;

  color: var(--lightTextColor);

  transition: color var(--mainDuration) var(--mainTimingFunction);
}

.nav_item:hover .nav_link_main {
  color: var(--accentColor);
}

.main_page_home_link {
  font-size: 15px;
  font-weight: 600;
  color: var(--accentColor);
}

.active_link {
  color: var(--primaryNavColor);
}

.pageNav {
  background-color: #000000;
  backdrop-filter: blur(30px);
  color: white;
}
