.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  // justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  p {
    font-weight: 400;
    font-size: 22px;
    line-height: 27.58px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
}

