:root {
  --accentColor: #7d7e82;
  --primaryTextColor: #fafafa;
  --secondaryTextColor: #484848;
  --primaryNavColor: #101010;
  --lightTextColor: #ffffff;
  --linkActiveColor: #0b70e1;
  --buttonColor: #9e9e9e;
  --buttonAndHeaderAccentColor: rgba(33,33,33,.8);
  --messengerButtonColor: #25d366;
  --primaryBackgroundColor: #ffffff;
  --secondaryBackgroundColor: #ffebc1;
  --lightContactsBackgroundColor: #f7f9ff;
  --darkContactsBackgroundColor: #3f2305;
  --darkBackgroundColor: #000000;
  --linkBackgroundColor: #f2f1f1;
  --projectModalCloseButton: #ff0000;
  --errorColor: #ff0000;
  --backdropColor: rgba(11, 11, 11, 0.8);
  --primaryBorderRadius: 20px;
  --navBorderColor: rgba(0, 0, 0, 0.06);

  --mainDuration: 250ms;
  --mainTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
  --buttonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --firstShadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --secondShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --thirdShadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  // padding-top: 80px;
  font-family: var(--open_sans), sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--primaryTextColor);
  background-color: var(--primaryBackgroundColor);

  // @media screen and (min-width: 768px) {
  //   padding-top: 0px;
  // }
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.slick-slide {
  & > div {
    margin-right: 10px;
  }
}

// .visually_hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }
