.link {

    display: flex;
    // align-items: center;
    // justify-content: center;
    font-style: 10px;
    font-size: 14px;
    padding: 5px;
    font-family: var(--contax-sans);
    font-weight: 200;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--accentColor);
  
    @media screen and (max-width: 767px) {
      padding: 0;
      opacity: 0;
    }
  
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      opacity: 100;
    }
  

  font-size: 16px;
  padding: 10px 8px;
  font-family: var(--contax-sans);
  font-weight: 200;
  justify-content: center;
  border: 1px solid white;
  border-radius: 8px;

  @media screen and (max-width: 767px) {
    padding: 0;
    opacity: 0;
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    opacity: 100;
  }

  & svg {
    margin-right: 10px;
    // font-size: 16px;
    font-size: 26px;
  }

  &:hover {
    & svg {
      margin-right: 10px;
      // font-size: 16px;
      font-size: 26px;

      fill: var(--accentColor);
    }
    & span {
      color: var(--accentColor);
    }
  }

  %contactsLine {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      padding: 10px 0 10px;
    }
  }

  .primary-contactsLine {
    @extend %contactsLine;
    flex-direction: column;
  }

  .secondary-contactsLine {
    @extend %contactsLine;
  }

  .adressA {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
