.nav_container {
  position: absolute;

  top: 0;
  right: 0;

  width: 450px;

  padding: 46px 40px 50px 50px;

  // background-color: var(--primaryBackgroundColor);
  z-index: 1000;
  transition: all 0.8s ease;

  @media screen and (max-width: 767px) {
    transform: translateX(150%);
    // opacity: 0;

    &.isOpen {
      // transform: translate3d(0, 0, 0);
      transform: translateX(0);
      background-color: #FFFFFF;
      box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
      opacity: 1;
      & .nav_link,
      & .dropdown_btn_text {
        color: var(--primaryNavColor);
      }
    }
  }

  @media screen and (min-width: 768px) {
    position: static;
    transform: translate3d(0, 0, 0);

    width: initial;

    padding: 0;

  //  background-color: #FFFFFF; 
  }
}

.nav_list {
  display: flex;

  flex-direction: column;

  list-style: none;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 15px;
  }

  @media screen and (min-width: 1024px) {
    gap: 35px;
  }
}

.nav_item {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--navBorderColor);
  }

  @media screen and (min-width: 768px) {
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.nav_dropdown_item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav_link {
  font-family: var(--contax-sans);
  font-size: 15px;
  font-weight: 700;
  line-height: calc(25 / 15);
  padding: 5px;

  color: #FFFFFF;

  transition: color var(--mainDuration) var(--mainTimingFunction);

  &:hover {
    outline: 1px solid #000000;
    border-radius: 8px;
  }
}

.nav_item:hover .nav_link {
  color: var(--accentColor);
  
  outline: 1px solid var(--accentColor);
  border-radius: 8px;
  gap:8px
}

.nav_link_main {
  font-size: 15px;
  font-weight: 600;

  color: var(--lightTextColor);

  transition: color var(--mainDuration) var(--mainTimingFunction);
}

.nav_item:hover .nav_link_main {
  color: white;
}

.main_page_home_link {
  font-size: 15px;
  font-weight: 600;
  outline: 1px solid var(--accentColor);
  color:var(--accentColor);
  padding: 5px;
  border-radius: 8px;

  &:hover {
    color: var(--accentColor);
    outline: 1px solid var(--accentColor);
  }
}

.active_link {
  outline: 1px solid var(--accentColor);
  padding: 5px;
  color: var(--accentColor);
  border-radius: 8px;

  &:hover {
    outline: 1px solid var(--accentColor);
  }
}

.nav_link_main ~ .plus {
  color: var(--lightTextColor);
}

.nav_link:hover ~ .minus {
  outline: 1px solid #000000;
  border-radius: 8px;
}
