.link {
    display: flex;
    // align-items: center;
    // justify-content: center;
    font-style: 14px;
    padding: 10px;
    justify-content: center;
  
    @media screen and (max-width: 767px) {
      padding: 0;
    }
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  

    & svg {
      margin-right: 10px;
      font-size: 16px;}

    &:hover{
      & svg {
        margin-right: 10px;
        font-size: 16px;
          fill: #000000;
    }
    & span{
      color: #000000;
    }
    }
   
  
  %contactsLine {
    display: flex;
  
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      padding: 10px 0 10px;
    }
  }
  
  .primary-contactsLine {
    @extend %contactsLine;
flex-direction: column;
  }
  
  .secondary-contactsLine {
    @extend %contactsLine;
  }
  
  .adressA{
    display: flex;
    justify-content: center;
    align-items: center;

  }
}