.section {

    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
  
    @media screen and (min-width: 1200px) {
      padding-top: 140px;
      padding-bottom: 60px;
    }
}




.formSection {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}



.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.7;
  text-align: center;
  color: var(--accentColor);

  &Hid {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.thumb {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

// .left-column {
//   padding-top: 20px;
//   padding-left: 50px;
//   padding-right: 50px;
//   padding-bottom: 20px;

//   background-color: var(--buttonAndHeaderAccentColor);
//   border-top-left-radius: 150px;

//   @media screen and (min-width: 1200px) {
//     width: 45%;
//   }
// }

.right-column {

    // padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;


    border-bottom-right-radius: 150px;
    background-color: var(--primaryBackgroundColor);

  border-bottom-right-radius: 150px;
  background-color: var(--primaryBackgroundColor);

  @media screen and (min-width: 1200px) {
    width: 90%;

      }
 
}

.page_description_text {
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(27 / 14);
    margin-left: auto;
   margin-right: auto;



    @media screen and (min-width: 1200px) {
      width: 768px;
   width: 100%;
        }
  }



