.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.7em;
    text-align: center;
    color: var(--accentColor);
    background-color: var(--secondaryTextColor);
}