.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.wrapper {
  padding-top: 84px;

}

.top_container {
  padding: 0 25px;

  // margin-bottom: 40px;

  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 60px;
  // }
}

.page_description_text {
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(27 / 14);
}

// .works_list {
//   padding-bottom: 60px;
// }

.work_item {
  display: flex;
  flex-direction: column;

  align-items: center;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.showreelTitle {
  // position: relative;
  color: #FFFFFF;
  width: 100%;
  font-size: 35px;
  font-weight: 300;
  line-height: calc(42 / 35);

  // &::after {
  //   content: "";

  //   position: absolute;

  //   left: 0px;
  //   bottom: -10px;

  //   width: 100%;
  //   height: 1px;

  //   background-color: var(--buttonColor);
  // }
}

.video_thumb {
  // width: calc(100% - 20px);
  width: 100%;
  border-radius: 6px;
  border: 0;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--lightContactsBackgroundColor);
  background-image: url(https://video.procinemastudio.com/images/bg_works.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
height: 270px;

  @media screen and (min-width: 768px) {
    height: 432px;
  }


  @media screen and (min-width: 1200px) {
    height: 675px;
  }

}


.showreelOnCardItems{
  display: flex;
justify-content: space-between;
  align-items: center;
width: 100%;
padding-bottom: 20px;
padding-left: 34px;
padding-right: 34px;


@media screen and (min-width: 768px) {
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

}