.logoText{
    // position: absolute;
    // bottom:40%;
    font-family: var(--contax-sans);
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
}

.hidden{
    opacity: 0;
  }

  .visible{
    opacity: 100;
  }