.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .button {
    position: absolute;
    border: none;
    background: none;
    & svg {
      fill: white;
      width: 30px;
      height: 30px;
    }
    // position: absolute;
    // top: 0;
    // z-index: 120;
  }
  
  .navBtn {
  }
  