

.controls {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // flex-direction: row-reverse;

  flex-direction: row;
  justify-content: center;
  gap: 10px;

  margin-top: 15px;

  @media screen and (min-width: 768px) {
    // flex-direction: row;
    // justify-content: center;
    // gap: 10px;

    margin-top: 18px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
  button {
    position: relative;
    margin: 0;
    // padding: 6px;
    border: none;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 250ms ease-in;

    svg {
      margin: 0;
      padding: 0;
      height: 35px;
      // width: 10px;

      // path {
      //   stroke-width: 1px;
      // }
    }

    &:hover,
    &:focus,
    &:active {
      // border-radius: 45px;
      // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transform: scale(0.9);
    }
  }
}

.next2,
.next3 {
  position: absolute;
  // left: 0.05em;

  display: none;

  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
}
.next2 {
  left: 0.99em;
}
.next3 {
  left: 1.5em;
}

button.prev {
  display: flex;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
}

