.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.top_container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 40px;

  // margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    // margin-bottom: 60px;
  }
}

.page_title {
  text-align: center;

  font-size: 60px;
  font-weight: 300;
  font-family: var(--six_caps);
  color: var(--secondaryTextColor);
  line-height: calc(66 / 60);
  letter-spacing: 2px;

  text-transform: uppercase;
}

.page_description_text {
  text-align: center;

  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(27 / 14);
}
