.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 80px;
}
.top_container {
  padding: 0 25px;

  @media screen and (min-width: 1200px) {
  }
}

.page_description_text {
  text-align: center;

  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(27 / 14);
}

.pricingWrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    display: grid;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.pricingCardWrapper {
  flex: 1;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 35px 20px 25px;
  border-color: black;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 16px;
  // text-align: center;

  color: #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  // justify-content: space-between;

  // background-color: var(--buttonAndHeaderAccentColor);
}

.cardTitle {
  margin-bottom: 50px;
  font-weight: 600;
  font-family: var(--open_sans);
  text-align: center;
}

.cardParagraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.listOfDef {
  height: 150px;
}

.listOfSecondDef {
  height: fit-content;
}

.listOfPrices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.servicePriceText {
  text-align: center;
}

.pricesWrapper {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid black;
  padding-bottom: 30px;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
}

.priceNumber {
  font-size: x-large;
}

.serviceDef {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.serviceDefText {
  margin-left: 10px;
  align-items: center;
  max-width: 270px;
}

.descrButtonswrapper {
  display: flex;
  flex-direction: column;
}

.buttonsWrapper {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}

.pricingConditionsSection {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.letterDFix {
  font-size: 13px;
}

.button {
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  border-radius: 8px;
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 20px 16px 20px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: rgba(33, 33, 33, 0.8);

  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1rem;

  &:hover,
  &:focus {
    &::after,
    &::before {
      animation: none;
      background: rgba(33, 33, 33, 0.8);
      box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }
  }
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  transition: all 0.8s ease;
  background: linear-gradient(
    45deg,
    var(--ch-black),
    rgba(33, 33, 33, 0.8),
    rgba(33, 33, 33, 0.8),
    var(--ch-white),
    // var(--night-rider),
    rgba(33, 33, 33, 0.8),
    // var(--ch-black),
    var(--ch-black)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(50px);
}
